<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width , height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link rel="stylesheet/less" href="/style" />
		<title>Todolist en NodeJs/Express/SocketIo</title>
	</head>
	<body class="main">
		<div class="main_body">

			<header class="main_body_header">
				<h1>SbibouJr todolist</h1>
			</header>

			<form class="form_todo" method="post" action="#">
				<input class="form_todo_button" type="submit" value="Ajouter"/>
				<input class="form_todo_text" type="text" placeholder="Que dois-je faire ? "/>
			</form>

			<div class="todolist">
				<ul>
					En attente de connexion
				</ul>
			</div>

		</div>

		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>

		<script type="text/javascript" src="/socket.io/socket.io.js"></script>

		<script type="text/javascript" src="/scripts/1"></script>

	</body>
</html>